body{
  background:#e1b382;
}


a:link{color:#e1b382;text-decoration:none}
a:visited{color:#e1b382}
a:hover{color:#e1b382}
a:active{background:cyan}


/*Extra small devices(phones,600px and down)*/

@media only screen and (max-width:600px)
{
body{background:#12343b;}
ol{width:90%;list-style:none;text-align: right;cursor:m;}

ol li{display:inline-block;text-align:right;paddng:-21px;margin-right: 15px;box-radius:10px;}

#background_img{width:90px;margin-top:-65px;}

#background_img2{width:100px;height:100px;border-radius:5px;box-shadow:2px 2px 2px #12343b;margin-left:5px;margin-top: 5px;}

#ebad{width: 100%;height:300px;background:#e1b382;border-radius:5px;margin-top: 10px;}

#ebad2{width:100%;height:150px;background-color:#e1b382;border-radius:5px;}


#ebad3{width:100%;height:200px;background-color:#e1b382;border-radius:5px;}


#h{color:white;font-family: Cochin;font-size:25px;margin-top:-8px;margin-left:29px;text-shadow:1px 1px 1px  #12343b;}

#f{color: #12343b;font-family: Cochin;font-size:15px;margin-top:30px;margin-left: 30px;}

#i{color: #12343b;font-family: Cochin;font-size:15px;margin-left:30px;opacity:60%;margin-top:-10px;}

#hello{
  margin-left: 30px;margin-top:10px;
}


#div{
  backgroud:#e1b382 ;
  width:100%;
  height:50px;
  border-radius:6px;
}
#about{
  color: white;font-size:20px;text-align:center;text-shadow: 1px 1px 1px #12343b;margin-top:9px;
}

#aboutd{
  color: white;font-size:20px;margin-left:30px;text-shadow: 1px 1px 1px #12343b;margin-top:13px;
}

#me{
  color: #12343b;font-size:15px;margin-left:20px;text-shdow: 1px 1px 1px #12343b;margin-top:9px;text-align: justify;margin: 5px;
}

#i3{color: #12343b;font-family:font-size:15px;margin-left:20px;opacity:60%;margin-top:-10px;}


#cc{
  width: 100%;margin-top:-110px;
}
}

/* Small devices (portrait tablets and large phones,600px and up)*/

@media only screen and (min-width:600px)
{
body{background:brown;}
ol{width:90%;list-style:none;text-align: right;cursor:m;}

ol li{display:inline-block;text-align:right;paddng:-21px;margin-right: 15px;box-radius:10px;}

#background_img{width:90px;margin-top:-55px;}

#background_img2{width:100px;height:100px;border-radius:5px;box-shadow:2px 2px 2px #12343b;margin-left:5px;margin-top: 5px;}

#ebad{width: 100%;height:300px;background:#e1b382;border-radius:5px;margin-top: 10px;}

#ebad2{width:100%;height:150px;background-color:#e1b382;border-radius:5px;}


#ebad3{width:100%;height:200px;background-color:#e1b382;border-radius:5px;}


#h{color:white;font-family: Cochin;font-size:25px;margin-top:-8px;margin-left:29px;text-shadow:1px 1px 1px  #12343b;}

#f{color: #12343b;font-family: Cochin;font-size:15px;margin-top:30px;margin-left: 30px;}

#i{color: #12343b;font-family: Cochin;font-size:15px;margin-left:30px;opacity:60%;margin-top:-10px;}

#hello{
  margin-left: 30px;margin-top:10px;
}


#div{
  backgrond:#12343b ;
  width:100%;
  height:50px;
  border-radius:6px;
}
#about{
  color: white;font-size:20px;text-align:center;text-shadow: 1px 1px 1px #12343b;margin-top:9px;
}

#aboutd{
  color: white;font-size:20px;margin-left:30px;text-shadow: 1px 1px 1px #12343b;margin-top:13px;
}

#me{
  color: #12343b;font-size:15px;margin-left:20px;text-shdow: 1px 1px 1px #12343b;margin-top:9px;text-align: justify;margin: 5px;
}

#i3{color: #12343b;font-family: Cochin;font-size:15px;margin-left:20px;opacity:60%;margin-top:-10px;}


#cc{
  width: 100%;margin-top:110px;
}

}
/*Medium devices(landscape tablets, 768px and up)*/

@media only screen and (min-width:768px)
{
body{backround:
#f8c471;}
ol{width:90%;list-style:none;text-align: right;}

ol li{display:inline-block;text-align:right;paddng:1px;margin-right: 15px;box-radius:10px;}

#background_img{width:90px;margin-top:-55px;}

.picstyle{width:100px;height:100px;border-radius:800px;box-shadow:2px 2px 2px #e1b382;margin-left:5px;margin-top: 5px;}

#ebad{width: 100%;height:250px;background:#12343b;border-radius:5px;margin-top: 10px;}

#ebad2{width:100%;height:150px;background-color:#12343b;border-radius:5px;}

#ebad3{width:100%;height:200px;background-color:#12343b;border-radius:5px;}


#h{color:white;font-family: Cochin;font-size:25px;margin-top:-8px;margin-left:29px;text-shadow:1px 1px 1px  #12343b;}

#f{color: white;font-family: Cochin;font-size:15px;margin-top:30px;margin-left: 30px;}

#i{color: white;font-family: Cochin;font-size:15px;margin-left:30px;opacity:60%;margin-top:-10px;}

#hello{
  margin-left: 30px;margin-top:10px;
}


#div{
  background:#12343b;
  width:100%;
  height:50px;
  border-radius:6px;
}
#about{
  color: white;margin-left:20px;text-shadow: 3px 3px 3px gray;
}

#me{
  color: white;font-size:15px;margin-left:20px;text-shdow: 1px 1px 1px #12343b;margin-top:9px;text-align: justify;margin: 5px;
}

#i3{color:white;font-family: Cochin;font-size:15px;margin-left:20px;opacity:60%;margin-top:-10px;}
#cc{
  width: 55%;margin-top:-150px;
}


}
/*Large devices(laptop/desktops, 992px and up)*/

@media only screen and (min-widht:992px)
{
body{backgrond:white;}
ol{width:90%;list-style:none;text-align: right;}

ol li{display:inline-block;text-align:right;paddng:-21px;margin-right: 15px;box-radius:10px;}

#background_img{width:90px;margin-top:-25px;}

.picstyle{width:100px;height:100px;border-radius:5px;box-shadow:2px 2px 2px #12343b;margin-left:10px;margin-top: 5px;}

#ebad{width: 100%;height:300px;background:#e1b382;border-radius:5px;margin-top: 10px;}

#ebad2{width:100%;height:150px;background-color:#e1b382;border-radius:5px;}


#ebad3{width:100%;height:200px;background-color:#e1b382;border-radius:5px;}


#h{color:white;font-family: Cochin;font-size:25px;margin-top:-8px;margin-left:29px;text-shadow:1px 1px 1px  #12343b;}

#f{color: #12343b;font-family: Cochin;font-size:20px;margin-top:30px;margin-left: 30px;}

#i{color: #12343b;font-family: Cochin;font-size:18px;margin-left:30px;opacity:60%;margin-top:-10px;}


#about{
  color: white;font-size:20px;text-align:center;text-shadow: 1px 1px 1px #12343b;margin-top:9px;
}

#aboutd{
  color: white;font-size:20px;margin-left:30px;text-shadow: 1px 1px 1px #12343b;margin-top:13px;
}

#me{
  color: #12343b;font-size:15px;margin-left:20px;text-shdow: 1px 1px 1px #12343b;margin-top:9px;text-align: justify;margin: 5px;opacity: 60%;
}

#i3{color: #12343b;font-family: Cochin;font-size:15px;margin-left:20px;opacity:60%;margin-top:-10px;}



}


/*Extra large devices (large laptops and desktops, 1200px and up)*/

@media only screen and (min-width:1200px)
{
body{backgrond:#12343b ;}
ol{width:90%;list-style:none;text-align: right;}

ol li{display:inline-block;text-align:right;paddng:-21px;margin-right: 15px;box-radius:10px;}

#background_img{width:90px;margin-top:-55px;}

#background_img2{width:100px;height:100px;border-radius:5px;box-shadow:2px 2px 2px #12343b;margin-left:1200px;margin-top: 9px;}

#ebad{width: 100%;height:300px;background:#12343b;border-radius:5px;margin-top: 10px;}

#ebad2{width:100%;height:150px;background-color:#12343b;border-radius:5px;}


#ebad3{width:100%;height:200px;background-color:#12343b;border-radius:5px;}


#h{color:white;font-family: Cochin;font-size:25px;margin-top:-8px;margin-left:29px;text-shadow:1px 1px 1px  #e1b382;}

#f{color:white;font-family: Cochin;font-size:20px;margin-top:30px;margin-left: 30px;}

#i{color:white;font-family: Cochin;font-size:18px;margin-left:30px;opacity:60%;margin-top:-10px;}


#about{
  color:white;font-size:20px;text-align:center;text-shadow: 1px 1px 1px #12343b;margin-top:9px;
}

#aboutd{
  color: white;font-size:20px;margin-left:30px;text-shadow: 1px 1px 1px #12343b;margin-top:13px;
}

#me{
  color:white;font-size:15px;margin-left:20px;text-shdow: 1px 1px 1px #12343b;margin-top:9px;text-align: justify;margin: 5px;opacity: 60%;
}

#i3{color:white;font-family: Cochin;font-size:15px;margin-left:20px;opacity:60%;margin-top:-10px;}

#cc{
  width: 35%;margin-top:-110px;
}

}